## Import of packages
import(
	methods
)

## Export of classes
exportClasses(
	dfplus
)

## Export methods
exportMethods(
	"[", "[<-", "$", "$<-",
	deprecated,"deprecated<-",skip_deprecated,
	head,tail,
	names,"names<-"
)

## Export of regular function names
export(
	dfplus
)
